<html>
<head> 
    <%- include('../partials/head') %>

</head>
<body>
    <%- include('../partials/header') %>
    <h3>Admin Layout</h3>
    <%- include('../partials/menu') %>

    <%- body %>

    <%- include('../partials/footer') %>

</body>
</html>