<html>
<head> 
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/menu') %>
 <div class="overflow-auto">

    <%- body %>
   <%- include('../partials/validations') %>
    <%- include('../partials/footer') %>
 </div>
</body>
</html> 