
<h4><%=pageData.pTitle%> List </h4>

<%if(user.usertype==="ADMIN"){%>
    <a href="/<%=pageData.urlRoute%>/add" class="btn btn-primary btn-sm">Add <%=pageData.pTitle%></a>
   <%  if(pageData.btnConfig) { %>
    <a href="/<%=pageData.urlRoute%>/config" class="btn btn-primary btn-sm">Export Config</a>
    <%}%> 
<%}%> 
<% if (typeof result[0]!=='undefined') { %>
    <%- include('../partials/list.ejs',{baseurl:pageData.urlRoute})%>
<%} else {%>
    <div>
        <p> No Records found...!  <br/>
           Admin Can add New <%=pageData.pTitle%>
        </p>
    </div>
 <%}%> 
